<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <div class="navbar">
        <span>Welcome, <strong> {{ user|capfirst }} </strong></span>
    </div>
    
    <div class="product-container">
        <h2>Welcome To Price Drop Detective</h2>
        <strong style="color: red;">{{ error }}</strong>
        <form id="userDetailsForm" method="post" action="{% url 'add' %}">
            {% csrf_token  %}
            <label for="productLink">Product Link:</label>
            <input type="text" id="productLink" name="url" required><br>
            <!-- <label for="minPrice">Minimum Price:</label>
            <input type="number" id="minPrice" name="minPrice" required><br>
            <label for="maxPrice">Maximum Price:</label>
            <input type="number" id="maxPrice" name="maxPrice" required><br> -->
            <button class="add-button">Add</button>
        </form>
    </div>

    </body>
</html>